
.hljs-keyword { color: #6d77f6; font-weight: bold; }
.hljs-string { color: #26c5f3; }
.hljs-title { color: #4ec9b0; }
.hljs-attr { color: #9c43f8; }
.hljs-doctag { color: #702b9e; }
.hljs-punctuation { color: #4a5568; }