.hljs {
  background: white;
  /* padding: 1rem; */
  /* border-radius: 8px; */
  /* font-family: 'Fira Code', monospace; */
  /* font-size: 1rem; */
  /* overflow-x: auto; */
}

.hljs-keyword { color: #6d77f6; font-weight: bold; }
.hljs-string { color: #26c5f3; }
.hljs-title { color: #9c43f8; }
.hljs-attr { color: #9c43f8; }
.hljs-doctag { color: #702b9e; }
.hljs-punctuation { color: #4a5568; }
.hljs-tag { color: #702b9e; }